<!-- table1 -->
<%if @sel_type[0]=="u" %>
	<% title1="團員" %>
	<% title2="分類" %>
<% else %>	
	<% title1="分類" %>
	<% title2="團員" %>
<% end %>


<!-- table2 -->
<table class="table table-condensed"> 
  <thead>
    <tr bgcolor=whitesmoke>
      <th colspan="4" class="success"><%= title1 %></th>
      <th> <dd class="text-right">金額</dd></th>
    </tr>
  </thead>
  <tbody>
    <% @ex_sum_all.each do |type, key1, key2, costs, name1, name2| %>         
      <% row_id="row_"+key1.to_s %>
      <% row_child="child_row_"+key1.to_s %>
      <% row_child_title="child_row_"+key1.to_s+" info" %>    
      
      <% if type==0 %>  
        <tr class="parent" id=<%=row_id%> bgcolor="#FCFCFC">
          <td colspan="4"> <%= name1 %> </td>
          <td> <dd class="text-right"><%= costs %></dd> </td>
        </tr>
        <tr class=<%=row_child%> bgcolor="#E0EEEE">
          <td></td> 
          <td colspan="3"><b><%= title2 %></b></td>
          <td> <dd class="text-right"><b>金額</b></dd></td>      
        </tr>
      <% elsif type==1 %> 
        <tr class=<%=row_child%>>
          <td></td> 
          <td colspan="3"> <%= name2 %> </td>
          <td> <dd class="text-right"><%= costs %></dd> </td>       
        </tr>   
      <% elsif type==2 %>
        <tr bgcolor=oldlace>
          <td colspan="4">總計</td> 
          <td> <dd class="text-right"> <%= costs %></dd> </td>       
        </tr>   
      <% end %>       
    <% end %>           
  </tbody>
</table>


<style>
.selected{ background:#ffffff;color:#000000;}
</style>

<script type="text/javascript">
$(function(){
	$('tr.parent').click(function(){   
		$(this)
		.toggleClass("selected")   			 
		.siblings('.child_'+this.id).toggle();  
	}).click();
})
</script>


