<!-- table1 -->
<%if @sel_type[0]=="u" %>
	<% title1="團員" %>
	<% title2="分類" %>
<% else %>	
	<% title1="分類" %>
	<% title2="團員" %>
<% end %>

<table class="table table-condensed"> 
  <thead>
    <tr bgcolor=whitesmoke>
      <th colspan="4"><%= title1 %></th>
      <th> <dd class="text-right">金額</dd></th>
    </tr>
  </thead>
  <tbody>
    <% @ex_sum1.each do |key, sum_costs, name| %>
      <% row_id="row_"+key.to_s %>
      <% row_child="child_row_"+key.to_s %>
      <tr class="parent" id=<%=row_id%> bgcolor="#FCFCFC">
        <td colspan="4"> <%= name %> </td>
        <td> <dd class="text-right"><%= sum_costs %></dd> </td>
      </tr>  
      <tr class=<%=row_child%>>
      	<td colspan="1"></td>
        <td colspan="4">
          <table class="table table-condensed"> 
            <tr bgcolor="#E0EEEE">
              <th colspan="3"><%= title2 %></th>
              <th> <dd class="text-right">金額</dd></th>
            </tr>   
            <% sum2=@ex_sum2.select {|key1,_,_,_,_| key1==key} %>
            <% sum2.each do |key1, key2, costs, name1, name2| %>                
              <tr>
                <td colspan="3"> <%= name2 %> </td>
                <td> <dd class="text-right"><%= costs %></dd> </td>
              </tr>   
            <% end %>
          </table>          
        </td>
      </tr>     
    <% end %> <!--@ex_sum1.each do-->      
    <tr bgcolor=oldlace>
      <td colspan="4">總計</td> 
      <td> <dd class="text-right"><%= @total_costs %></dd> </td>       
    </tr>              
  </tbody>
</table>

<style>  
.selected{ background:#ffffff;color:#000000;}
</style>

<script type="text/javascript">
$(function(){
	$('tr.parent').click(function(){   
		$(this)
		.toggleClass("selected")   			 
		.siblings('.child_'+this.id).toggle();  
	}).click();
})
</script>


