<%= render 'gp' %>
<% if @user_status=="join" %>
  <table class="table table-hover" width:100%>    
    <thead>   
      <tr>
        <th>分類</th>
        <th>項目</th>
        <th>日期</th>
        <th>團員</th>
        <th>金額</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>     
      <% @expenses.each do |e| %>
        <tr>
          <td> <%= Tag.find(e.tag_id).name %> </td>
          <td> <%= e.name %> </td>
          <td> <%= e.date.strftime "%Y-%m-%d" %> </td>
          <td> <%= User.find(e.user_id).name %> </td>
          <td> <%= e.cost %> </td>
          <td>
            <% if (@group.state == 'active') && (e.user_id==current_user.id) %> 
              <%=link_to 'update', action:'edit', id: e%> 
            <% end %>
          </td>
          <td> 
            <% if (@group.state == 'active') &&
                  (@group.owner.include?(current_user) || e.user_id==current_user.id) %>
              <%=link_to 'delete', action:'destroy', method: :delete, id: e %> 
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
<% end %> 
