<div class="row">
  <div class="span8">
    <%= render 'shared/group_header' %>
    <%# @group.group_users.find_by_user_id(current_user.id).join? %>

    <% sel = {utt: "團員支出表",utc: "團員支出比例圖",
              tut: "分類支出表",tuc: "分類支出比例圖",all: "總帳本"} %>
    <% sel = sel.with_indifferent_access %>

    <h4>請選擇欲瀏覽報表:
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <%=sel[@sel_type]%>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%=link_to sel["utt"], action:'summary', var: "utt", class: "bun"%></li>
        <li><%=link_to sel["utc"], action:'summary', var: "utc", class: "bun"%></li> 
        <li><%=link_to sel["tut"], action:'summary', var: "tut", class: "bun"%></li> 
        <li><%=link_to sel["tuc"], action:'summary', var: "tuc", class: "bun"%></li>
        <li><%=link_to sel["all"], action:'summary', var: "all", class: "bun"%></li>
      </ul>
    </div>
    <% if @sel_type=="all" %>
      <%= link_to(image_tag('table_excel.png', class: "pull-right"), action:'export', format: 'csv') %> 
    <% end %>  
    </h4>

    <%= simple_form_for @q, url: summary_group_expenses_path, method: :get do |f| %>  
      <div class="well well-small">
      <h4><ul class="inline">
        帳目篩選時間:
        <li><%= f.input :date_gteq, input_html: {id:"dp1",value:@start_day, class:"input-small"},label: false%></li>
        至
        <li><%= f.input :date_lteq, input_html: {id:"dp2",value:@end_day, class:"input-small"},label: false %></li>
        
        <% if @sel_type=="all" %>
          <br>
          分類:
          <li><%= f.input :tag_id_eq, :collection => @group.tags.map{|t| [t.name, t.id]},label: false, 
          include_blank:"全部分類",default: 1, input_html: {class:"span3"} %></li>        
          團員:
          <li><%= f.input :user_id_eq, :collection => @group.expenses.select("distinct user_id").map{|u| [User.find(u.user_id).name, u.user_id]},label: false, include_blank:"全部團員",default: 1,input_html: {class:"span2"} %></li>        
        <% end %>

        <input type="hidden" value=<%=@sel_type%> id="var" name="var">
        <li><%= f.button :submit ,"確認", class: "btn btn-info" %></li>
      </ul></h4>
      </div>
    <% end %>

    <%= render 'sum_table' if @sel_type[2]=="t" %>
    <%= render 'sum_chart' if @sel_type[2]=="c" %>
    
    <!-- table3 -->
    <% if @sel_type=="all" %>
      <table class="table table-condensed" id="table3"> 
        <thead>
          <tr bgcolor=whitesmoke>
            <th>日期</th>
            <th>團友</th>
            <th>分類</th>
            <th>項目</th>
            <th><dd class="text-right">金額</dd></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% $ex_sum_all.each do |type, date, member, tag, item, cost| %>
            <% if type==1 %>
              <tr>
                <td> <%= date %> </td>
                <td> <%= member %> </td>
                <td> <%= tag %> </td>
                <td> <%= item %> </td> 
                <td> <dd class="text-right"><%= cost %></dd> </td> 
                <td> 
                  <% if @group.active? && @group.owners.include?(current_user) %>
                    <button class="btn btn-link btn-mini"> 
                      <i class="icon-remove"></i>
                      <!--link destroy expense-->
                    </button>
                  <% end %>
                </td> 
              </tr>
            <% elsif type==2 %>   
              <tr bgcolor=oldlace>
                <td colspan="4"> 總計 </td> 
                <td> <dd class="text-right"><%= cost %></dd> </td> 
                <td></td>
              </tr>       
            <% end %> 
          <% end %> 
        </tbody>
      </table>
    <% end %>

  </div>
  <%= render 'shared/groups_sidebar' %>
</div>

<script type="text/javascript">
  $(function() {    
    $('#dp1').datepicker({"format": "yyyy-mm-dd","weekStart": 1,"autoclose": true}); 
    $('#dp2').datepicker({"format": "yyyy-mm-dd","weekStart": 1,"autoclose": true}); 
  });
</script>