<!DOCTYPE html>
<html>
<head>
  <title>Gurupu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

	<div id="header">
    <div class="row" align="center">
      <div class="span8" >
				<h1>團體記帳 GURUPU</h1>
      </div>
      <!-- log in/log out -->
      <div class="span4">
      	<% if current_user %>
          <%= current_user.name %>
          <%= link_to "Sign Out", signout_path %>
        <% else %>
          <%= link_to "Sign in", "/auth/facebook" %>
        <% end %>
      </div>
    </div>
	</div>

	<div id="content">
		<div class="row">
		  <div class="span0.5">
		  </div>
		  <div class="span11.5">
				<%= yield %>
		  </div>
		</div>
	</div>

	<div id="footer">
	</div>
</body>
</html>
