<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    <header>
      <div class="row">
        <div class="span8" >
          <h1>GURUPU</h1>
        </div>
        <div class="user-info pull-right">
          <% if login? %>
            <%= avatar_for(current_user) %>
            <%= current_user.name %>&nbsp;|&nbsp;
            <%= link_to "Sign Out", signout_path %>
          <% else %>
            <%= link_to "Sign in", "/auth/facebook" %>
          <% end %>
        </div>
      </div>
      <hr />
    </header>
    <div class="flash-messages">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="content">
    	<%= yield %>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
      </script>
    </div>
    <footer>
    </footer>
	</div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :javascripts %>
</body>
</html>
